# Predicting Salary for Data science Field Based on job offers from glassdoor


- As data science field is growing rapidly, many people are curious about the salary range for this career.Here we give it try to discover by predicting it

### Importing Necessary libraries and load the Data

In [191]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
df= pd.read_csv("glassdoor_jobs.csv")
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

### Assessing Data

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

- 'Unnamed: 0' coulmn must be droped

In [193]:
df['Company Name'].value_counts()

Takeda Pharmaceuticals\r\n3.7                                 14
Novartis\r\n3.8                                               14
Reynolds American\r\n3.1                                      14
MassMutual\r\n3.6                                             14
Software Engineering Institute\r\n2.6                         13
The Church of Jesus Christ of Latter-day Saints\r\n4.2        13
Liberty Mutual Insurance\r\n3.3                               10
PNNL\r\n3.8                                                   10
AstraZeneca\r\n3.9                                             9
Alector\r\n5.0                                                 8
MITRE\r\n3.2                                                   8
Numeric, LLC\r\n3.2                                            7
Rochester Regional Health\r\n3.3                               7
Advanced BioScience Laboratories\r\n2.7                        7
Pfizer\r\n4.0                                                  7
Fareportal\r\n3.8                                              7
Apellis Pharmaceuticals\r\n4.1                                 6
Beebe Healthcare\r\n3.6                                        6
h2o.ai\r\n4.3                                                  6
Kronos Bio                                                     6
Novetta\r\n4.0                                                 6
Q2 Solutions\r\n2.9                                            6
Tapjoy\r\n3.9                                                  6
Esri\r\n3.5                                                    6
ManTech\r\n4.1                                                 6
Rubius Therapeutics\r\n4.4                                     5
Octane\r\n4.2                                                  5
Sunovion\r\n3.5                                                5
The Hanover Insurance Group\r\n3.7                             5
OSI Engineering\r\n4.4                                         5
CALIBRE Systems\r\n3.7                                         5
KnowBe4\r\n4.8                                                 4
Pinnacol Assurance\r\n4.0                                      4
GSK\r\n3.9                                                     4
BioMarin Pharmaceutical\r\n3.8                                 4
Autodesk\r\n4.0                                                4
Greenwich Biosciences\r\n4.6                                   4
Maven Wave Partners\r\n4.4                                     4
Northrop Grumman\r\n3.7                                        4
Genentech\r\n3.9                                               4
Sartorius\r\n3.5                                               4
Decode_M                                                       4
Redstream Technology\r\n4.1                                    4
Pilot Flying J Travel Centers LLC\r\n3.0                       4
Juniper Networks\r\n3.8                                        4
Zest AI\r\n3.9                                                 4
SpringML\r\n4.4                                                4
Central California Alliance for Health\r\n3.5                  4
Nuna\r\n4.2                                                    4
TransUnion\r\n3.9                                              4
Pharmavite\r\n2.9                                              4
Palermo's Pizza\r\n3.3                                         4
Clarity Insights\r\n4.2                                        4
San Manuel Casino\r\n3.6                                       4
Teasdale Latin Foods\r\n2.4                                    4
Texas Health Huguley Hospital\r\n4.0                           4
Agios Pharmaceuticals\r\n3.8                                   3
MetroStar Systems\r\n3.4                                       3
Affinity Solutions\r\n2.9                                      3
Qualifacts Systems, Inc.\r\n3.1                                3
NCSOFT\r\n3.1                                                  3
Raytheon\r\n3.7                                                3
Monte Rosa Therapeutics                                        3
HP Inc.\r\n4.0                                                 3
Western Digital\r\n3.5                                         3
Arbella Insurance\r\n3.4                                       3
MathWorks\r\n4.4                                               3
NJF Global Holdings\r\n4.1                                     3
Mcphail Associates\r\n3.3                                      3
Equity Residential\r\n4.3                                      3
PA Consulting\r\n3.4                                           3
Audentes Therapeutics\r\n2.9                                   3
Volume Integration, LLC\r\n4.4                                 3
Strategic Employment Partners\r\n4.7                           3
Visa Inc.\r\n3.7                                               3
Eventbrite\r\n4.4                                              3
Southwest Research Institute\r\n3.9                            3
FrankCrum Staffing\r\n3.3                                      3
PennyMac\r\n3.2                                                3
Cerus Corporation\r\n2.1                                       3
SmartNews, Inc.\r\n4.6                                         3
Infosys\r\n3.0                                                 3
Moser Consulting\r\n4.5                                        3
National Interstate\r\n3.3                                     3
Echo Global Logistics\r\n3.4                                   3
Sterling National Bank\r\n2.7                                  3
Vail Health\r\n3.7                                             3
Peterson Technology Partners\r\n4.0                            3
TRANZACT\r\n3.6                                                3
NuWave Solutions\r\n4.5                                        3
Swiss Re\r\n3.7                                                3
Alignment Healthcare\r\n3.5                                    3
Mars\r\n3.9                                                    3
The Buffalo Group\r\n3.9                                       3
HOVER\r\n4.8                                                   3
Credit Sesame\r\n4.1                                           3
Crown Bioscience\r\n2.4                                        3
Cboe Global Markets\r\n3.7                                     3
Recursion Pharmaceuticals\r\n4.7                               3
ClearEdge\r\n4.0                                               3
IGNW\r\n4.8                                                    3
GSN Games\r\n4.5                                               3
Citadel Federal Credit Union\r\n3.9                            2
Guidepoint\r\n3.2                                              2
Praetorian\r\n4.7                                              2
Meridian Technologies, Inc\r\n4.0                              2
Caterpillar\r\n3.7                                             2
Applied Research Laboratories\r\n3.7                           2
SMC 3\r\n4.3                                                   2
Senti Biosciences\r\n5.0                                       2
Aptonet Inc\r\n5.0                                             2
TriNet\r\n3.3                                                  2
Collinwood Technology Partners, LLC\r\n4.7                     2
Church & Dwight\r\n3.4                                         2
SciPlay\r\n4.0                                                 2
Mitsubishi Electric Research Labs\r\n4.6                       2
CACI International\r\n3.5                                      2
Santander\r\n3.1                                               2
AXION Healthcare Solutions\r\n3.6                              2
Shine Systems\r\n3.6                                           2
Peraton\r\n3.3                                                 2
Genesys\r\n4.3                                                 2
Sumo Logic\r\n3.8                                              2
General Dynamics Information Technology\r\n3.4                 2
FHLBank Pittsburgh\r\n3.7                                      2
Vionic Group\r\n3.6                                            2
Mteq\r\n4.0                                                    2
Avlino\r\n4.9                                                  2
Systems & Technology Research\r\n4.7                           2
Associated Banc-Corp\r\n3.8                                    2
Plymouth Rock Assurance\r\n3.3                                 2
Remedy BPCI Partners, LLC.\r\n3.4                              2
Productive Edge\r\n4.3                                         2
USEReady\r\n4.3                                                2
Factual\r\n4.3                                                 2
Logic20/20\r\n3.8                                              2
Samba TV\r\n3.3                                                2
Tivity Health\r\n3.4                                           2
BPA Services\r\n5.0                                            2
Pacific Northwest National Laboratory\r\n3.8                   2
IQVIA\r\n3.6                                                   2
ExecOnline\r\n4.2                                              2
Tempus Labs\r\n3.0                                             2
Information Builders\r\n3.2                                    2
Oversight Systems\r\n4.7                                       2
Seen by Indeed                                                 2
AmeriHealth Caritas\r\n3.0                                     2
ClearOne Advantage\r\n4.1                                      2
The David J. Joseph Company\r\n4.4                             2
Figure Eight\r\n3.9                                            2
Bill.com\r\n3.8                                                2
Amrock\r\n3.6                                                  2
OneMagnify\r\n4.3                                              2
Health Union\r\n4.8                                            2
Equian LLC\r\n3.2                                              2
Glassdoor\r\n4.0                                               2
BRMi\r\n4.4                                                    2
Cogo Labs\r\n3.9                                               2
Truckstop.com\r\n3.8                                           2
SV Microwave\r\n3.4                                            2
Tower Health\r\n3.6                                            2
CK-12 Foundation\r\n4.1                                        2
Adobe\r\n4.0                                                   2
Trace3\r\n3.4                                                  2
Sanofi\r\n3.7                                                  2
Acceleron Pharma\r\n4.4                                        2
Exelixis\r\n3.0                                                2
Homology Medicines, Inc.\r\n4.4                                2
Blue Owl\r\n4.5                                                2
CA-One Tech Cloud                                              2
Zimmerman Advertising\r\n3.8                                   2
EAB\r\n3.5                                                     2
CyrusOne\r\n3.4                                                2
F&G\r\n3.7                                                     2
DECISIVE ANALYTICS Corporation\r\n4.7                          2
Strategic Financial Solutions\r\n4.0                           2
Life360\r\n3.9                                                 2
FLEETCOR\r\n2.7                                                2
Entefy\r\n4.4                                                  2
Greenway Health\r\n3.0                                         2
IZEA\r\n4.2                                                    2
GreatAmerica Financial Services\r\n4.6                         2
UPM Pharmaceutical Inc\r\n2.3                                  2
Health IQ\r\n3.9                                               2
National Student Clearinghouse\r\n2.9                          2
Netskope\r\n4.1                                                2
Signpost\r\n3.9                                                2
New England Biolabs\r\n4.7                                     2
Karyopharm Therapeutics Inc.\r\n2.9                            2
Brillient\r\n3.7                                               2
State of Wisconsin Investment Board\r\n2.7                     2
Crossix Solutions\r\n3.5                                       2
Argo Group US\r\n3.4                                           2
P2 Energy Solutions\r\n3.7                                     2
QK\r\n4.7                                                      2
Dodge Data & Analytics\r\n2.8                                  2
Veterans United Home Loans\r\n4.7                              2
Assurant\r\n3.4                                                2
ODSC Hiring Partner                                            2
Motorola Solutions\r\n3.7                                      2
OneThree Biotech                                               2
Saama Technologies Inc\r\n3.5                                  2
GovTech\r\n3.6                                                 2
Moda Operandi\r\n1.9                                           2
Cuboid IT Solutions\r\n3.9                                     2
<intent>\r\n4.6                                                2
1904labs\r\n4.7                                                2
Catholic Health Initiatives\r\n3.2                             2
RTI International\r\n4.3                                       2
Legal & General America\r\n3.8                                 2
Brighthouse Financial\r\n3.5                                   2
The Climate Corporation\r\n3.2                                 2
United BioSource\r\n2.1                                        2
DICK'S Sporting Goods - Corporate\r\n3.8                       2
Emtec, Inc.\r\n3.9                                             2
Demandbase\r\n4.5                                              2
First Tech Federal Credit Union\r\n3.5                         2
Orange Coast Memorial Medical Center\r\n3.4                    2
WeRide.ai                                                      2
Medidata Solutions\r\n4.3                                      2
Amount\r\n4.1                                                  2
Point72 Ventures                                               2
Luminar Technologies\r\n3.9                                    2
Riverside Research Institute\r\n3.6                            2
Daugherty Business Solutions\r\n4.3                            2
Walmart\r\n3.2                                                 2
Associated Electric Cooperative\r\n4.1                         2
Hamilton Porter LLC\r\n5.0                                     2
Redapt\r\n3.6                                                  1
Formation\r\n3.2                                               1
Samsung Research America\r\n3.7                                1
Quality Consulting Group\r\n5.0                                1
AVANADE\r\n3.9                                                 1
Systems Evolution Inc.\r\n4.7                                  1
Carmeuse\r\n3.1                                                1
DESC\r\n3.4                                                    1
Community Action Partnership of San Luis Obispo\r\n2.8         1
Nurx\r\n3.9                                                    1
LEAH Labs                                                      1
Upside Business Travel\r\n4.0                                  1
Johns Hopkins Health Care\r\n3.3                               1
Rose International\r\n4.5                                      1
GA Telesis\r\n3.8                                              1
IT Concepts\r\n4.7                                             1
Quartet Health\r\n3.9                                          1
Stratagem Group\r\n4.3                                         1
Astreya\r\n3.4                                                 1
CBS Interactive\r\n3.5                                         1
Spectrum Communications and Consulting\r\n3.4                  1
Blend360\r\n4.6                                                1
Full Potential Solutions\r\n3.8                                1
Sapphire Digital\r\n3.4                                        1
CompuForce                                                     1
Pactera\r\n4.4                                                 1
Maxar Technologies\r\n3.7                                      1
Tekvalley, Corp.\r\n4.0                                        1
FORMA THERAPEUTICS\r\n3.8                                      1
Trace Data\r\n3.9                                              1
Service Express\r\n4.3                                         1
Excella Consulting\r\n4.0                                      1
Shipt\r\n3.8                                                   1
Charter Spectrum\r\n3.5                                        1
Wish\r\n3.5                                                    1
SentiLink                                                      1
Delphi-US\r\n3.6                                               1
DrFirst\r\n2.8                                                 1
SafeGraph\r\n4.4                                               1
Grand Rounds\r\n4.2                                            1
Fivestars\r\n3.9                                               1
GTN Technical Staffing\r\n4.2                                  1
DoubleVerify\r\n3.2                                            1
Vbeyond Corporation\r\n4.4                                     1
SPINS, LLC\r\n3.5                                              1
Conch Technologies, Inc\r\n4.6                                 1
Leidos\r\n3.4                                                  1
Anson McCade\r\n4.5                                            1
Job Juncture\r\n4.7                                            1
Audible\r\n3.6                                                 1
Sandhills Global\r\n2.5                                        1
Grainger\r\n3.6                                                1
Zylotech\r\n3.7                                                1
HG Insights\r\n4.7                                             1
webfx.com\r\n4.7                                               1
Evolve Vacation Rental\r\n3.7                                  1
Alliance Source Testing\r\n4.0                                 1
e-IT Professionals Corp.\r\n3.5                                1
DRB Systems\r\n4.0                                             1
Persivia\r\n3.6                                                1
Calista\r\n2.4                                                 1
Blueprint Medicines\r\n3.9                                     1
7Park Data\r\n3.8                                              1
ICW Group\r\n2.8                                               1
Two Sigma\r\n4.4                                               1
Accuride International\r\n3.6                                  1
U.Group\r\n3.5                                                 1
Credera\r\n4.3                                                 1
HireResources a Tailored Solutions Company (WO)\r\n5.0         1
Porch\r\n3.2                                                   1
PeoplesBank\r\n4.2                                             1
Johns Hopkins University Applied Physics Laboratory\r\n4.5     1
Boys Town Hospital\r\n2.9                                      1
Citi\r\n3.6                                                    1
Northpointe Bank\r\n4.7                                        1
Lockheed Martin\r\n3.7                                         1
Red Ventures\r\n3.2                                            1
iSeatz\r\n3.5                                                  1
Nektar Therapeutics\r\n3.5                                     1

- Company Name need some cleaning such as deleting any special characters

In [194]:
df.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

- There is no missing values

In [195]:
df.Location.value_counts()[:5]

New York, NY         78
San Francisco, CA    71
Cambridge, MA        59
Chicago, IL          37
Boston, MA           24
Name: Location, dtype: int64

In [196]:
df['Salary Estimate'].value_counts()[:5]

-1                                  214
$86K-$143K (Glassdoor est.)           6
$21-$34 Per Hour(Glassdoor est.)      6
$54K-$115K (Glassdoor est.)           6
$49K-$113K (Glassdoor est.)           6
Name: Salary Estimate, dtype: int64

- Salary Column we need to change it's datatype to float , and  we need also to paris it 
- Salary Column has a value = -1  , so we need to eliminate them 
- Salary Column has a value ' Employer Provided Salary ' ' Per Hour ' so we need to clean it up

In [197]:
df.shape

(956, 15)

### Data Cleaning

In [198]:
#After Eliminating -1 value from Salary Column  the data decresed from 956 to 742 rows.
df = df[df['Salary Estimate'] != '-1']
df.shape

(742, 15)

In [199]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

### Here we Trying to deleting text from salary coulmn

In [200]:
#with appling split function from the first Parentheses and remain the first postion (0)
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0]) # Removing (Glassdoor est.)  
salary = salary.apply(lambda x: x.replace('K','').replace('$','')) #replace the letter 'K' and '$' symbol .
salary.head()

0     53-91
1    63-112
2     80-90
3     56-97
4    86-143
Name: Salary Estimate, dtype: object

- Here we found a small problem that some rows contain payment per hour and others contain 'employer provided salary'

In [201]:
# creating new coulmns from job that has per hour payment and for emplyer provided
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

#ِ After creating new 2 columns for hourly and employer now we delete from the salary column these two strings.
salary = salary.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

# Calculating minimum , maximum and average salary.
df['min_salary'] = salary.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = salary.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary+df.max_salary)/2

In [202]:
df.min_salary.value_counts()[:5]

65    20
80    18
61    18
81    17
63    16
Name: min_salary, dtype: int64

In [203]:
df.max_salary.value_counts()[:5]

140    16
119    15
124    15
110    15
127    13
Name: max_salary, dtype: int64

In [204]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5

In [205]:
#Here We drop unamed Column 
df =  df.drop(['Unnamed: 0'], axis =1)

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          742 non-null    object
 1   Salary Estimate    742 non-null    object
 2   Job Description    742 non-null    object
 3   Rating             742 non-null    float64
 4   Company Name       742 non-null    object
 5   Location           742 non-null    object
 6   Headquarters       742 non-null    object
 7   Size               742 non-null    object
 8   Founded            742 non-null    int64
 9   Type of ownership  742 non-null    object
 10  Industry           742 non-null    object
 11  Sector             742 non-null    object
 12  Revenue            742 non-null    object
 13  Competitors        742 non-null    object
 14  hourly             742 non-null    int64
 15  employer_provided  742 non-null    int64
 16  min_salary         742 non-null    int64
 17  max_salary         742 non-null    int64
 18  avg_salary         742 non-null    float64
dtypes: float64(2), int64(5), object(12)
memory usage: 115.9+ KB


- Fix Rating Column which has 1- rate for some companies

In [207]:
df.shape

(742, 19)

In [208]:
df.head(2)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5

In [209]:
df['Company Name'].value_counts()[:5]

Reynolds American\r\n3.1                 14
Takeda Pharmaceuticals\r\n3.7            14
MassMutual\r\n3.6                        14
Software Engineering Institute\r\n2.6    11
Liberty Mutual Insurance\r\n3.3          10
Name: Company Name, dtype: int64

#df = df[df['Rating']!= -1] 
df['Rating'].value_counts()

- Fix Company Name Coulmn

In [210]:
df['company_name'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-5], axis = 1 )
df.head(3)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,company_name
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Research
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical System
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe4

In [211]:
df.company_name.value_counts()[:5]

MassMutual                        14
Takeda Pharmaceuticals            14
Reynolds American                 14
Software Engineering Institute    11
PNNL                              10
Name: company_name, dtype: int64

In [212]:
df['Company Name'].value_counts()[:5]

Reynolds American\r\n3.1                 14
Takeda Pharmaceuticals\r\n3.7            14
MassMutual\r\n3.6                        14
Software Engineering Institute\r\n2.6    11
Liberty Mutual Insurance\r\n3.3          10
Name: Company Name, dtype: int64

- Here we can see the different after cleaning the company name

- Fix extract state from headquarter coulmn

In [213]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1]) # take state

# convert Los Angeles to LA 
df['job_state']= df.job_state.apply(lambda x: x.strip() if x.strip().lower() != 'los angeles' else 'LA')
df.job_state.value_counts()

CA    151
MA    103
NY     72
VA     41
IL     40
MD     35
PA     33
TX     28
WA     21
NC     21
NJ     17
FL     16
OH     14
TN     13
CO     11
DC     11
IN     10
UT     10
WI     10
MO      9
AZ      9
AL      8
DE      6
MI      6
GA      6
KY      6
CT      5
LA      5
IA      5
NE      4
OR      4
NM      3
KS      3
ID      2
MN      2
SC      1
RI      1
Name: job_state, dtype: int64

In [214]:
#Calculate Age for a company

df['age'] = df.Founded.apply(lambda x: x if x < 1 else 2022 - x)
df.age.value_counts()[:5]

-1     50
 12    32
 14    31
 26    27
 16    24
Name: age, dtype: int64

-  Extract keywords from job description such as python , aws , R , excel

In [215]:
#python
df['python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.python.value_counts()

1    392
0    350
Name: python, dtype: int64

In [216]:
#r studio 
df['r'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.r.value_counts()

0    740
1      2
Name: r, dtype: int64

In [217]:
#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

0    575
1    167
Name: spark, dtype: int64

In [218]:
#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

0    566
1    176
Name: aws, dtype: int64

In [219]:
#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

1    388
0    354
Name: excel, dtype: int64

In [220]:
#Machine Learning 
df['ml'] = df['Job Description'].apply(lambda x: 1 if 'Machine Learning' or 'ml'in x.lower() else 0)
df.ml.value_counts()

1    742
Name: ml, dtype: int64

In [221]:
#SQL
df['sql'] = df['Job Description'].apply(lambda x: 1 if 'SQL' in x.lower() else 0)
df.sql.value_counts()

0    742
Name: sql, dtype: int64

In [222]:
df['data_analysis'] = df['Job Description'].apply(lambda x: 1 if 'Data Analytics' or 'ml'in x.lower() else 0)
df.data_analysis.value_counts()

1    742
Name: data_analysis, dtype: int64

In [223]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,job_state,age,python,r,spark,aws,excel,ml,sql,data_analysis
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,NM,49,1,0,0,0,1,1,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,MD,38,1,0,0,0,0,1,0,1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,FL,12,1,0,1,0,1,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,WA,57,1,0,0,0,0,1,0,1
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,NY,24,1,0,0,0,1,1,0,1

In [224]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [225]:
df['Job Title'].value_counts()[:10]

Data Scientist               131
Data Engineer                 53
Senior Data Scientist         34
Data Analyst                  15
Senior Data Engineer          14
Senior Data Analyst           12
Lead Data Scientist            8
Sr. Data Engineer              6
Marketing Data Analyst         6
Machine Learning Engineer      5
Name: Job Title, dtype: int64

In [226]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,age,python,r,spark,aws,excel,ml,sql,data_analysis,same_state
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,49,1,0,0,0,1,1,0,1,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,38,1,0,0,0,0,1,0,1,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,12,1,0,1,0,1,1,0,1,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,57,1,0,0,0,0,1,0,1,1
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,24,1,0,0,0,1,1,0,1,1

In [227]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_name', 'job_state', 'age', 'python', 'r', 'spark', 'aws',
       'excel', 'ml', 'sql', 'data_analysis', 'same_state'],
      dtype='object')

In [228]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'





df['job_title'] = df['Job Title'].apply(title_simplifier)
df['seniority'] = df['Job Title'].apply(seniority)

In [229]:
df.job_title.value_counts()

data scientist    279
na                184
data engineer     119
analyst           102
manager            22
mle                22
director           14
Name: job_title, dtype: int64

In [230]:
df.seniority.value_counts()

na        520
senior    220
jr          2
Name: seniority, dtype: int64