# Predicting Salary for Data science Field Based on job offers from glassdoor


- As data science field is growing rapidly, many people are curious about the salary range for this career.Here we give it try to discover by predicting it

### Importing Necessary libraries and load the Data

In [402]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
df= pd.read_csv("glassdoor_jobs.csv")
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

### Assessing Data

In [403]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

- 'Unnamed: 0' coulmn must be droped

In [404]:
df['Company Name'].value_counts()[:5]

Takeda Pharmaceuticals\r\n3.7                             14
MassMutual\r\n3.6                                         14
Novartis\r\n3.8                                           14
Reynolds American\r\n3.1                                  14
The Church of Jesus Christ of Latter-day Saints\r\n4.2    13
Name: Company Name, dtype: int64

- Company Name need some cleaning such as deleting any special characters

In [405]:
df.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

- There is no missing values

In [406]:
df.Location.value_counts()[:5]

New York, NY         78
San Francisco, CA    71
Cambridge, MA        59
Chicago, IL          37
Boston, MA           24
Name: Location, dtype: int64

In [407]:
df['Salary Estimate'].value_counts()[:5]

-1                                  214
$54K-$115K (Glassdoor est.)           6
$49K-$113K (Glassdoor est.)           6
$86K-$143K (Glassdoor est.)           6
$21-$34 Per Hour(Glassdoor est.)      6
Name: Salary Estimate, dtype: int64

- Salary Column we need to change it's datatype to float , and  we need also to paris it 
- Salary Column has a value = -1  , so we need to eliminate them 
- Salary Column has a value ' Employer Provided Salary ' ' Per Hour ' so we need to clean it up

In [408]:
df.shape

(956, 15)

### Data Cleaning

In [409]:
#After Eliminating -1 value from Salary Column  the data decresed from 956 to 742 rows.
df = df[df['Salary Estimate'] != '-1']
df.shape

(742, 15)

In [410]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

### Here we Trying to deleting text from salary coulmn

In [411]:
#with appling split function from the first Parentheses and remain the first postion (0)
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0]) # Removing (Glassdoor est.)  
salary = salary.apply(lambda x: x.replace('K','').replace('$','')) #replace the letter 'K' and '$' symbol .
salary.head()

0     53-91
1    63-112
2     80-90
3     56-97
4    86-143
Name: Salary Estimate, dtype: object

- Here we found a small problem that some rows contain payment per hour and others contain 'employer provided salary'

In [412]:
# creating new coulmns from job that has per hour payment and for emplyer provided
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

#Ÿê After creating new 2 columns for hourly and employer now we delete from the salary column these two strings.
salary = salary.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

# Calculating minimum , maximum and average salary.
df['min_salary'] = salary.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = salary.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary+df.max_salary)/2

In [413]:
df.min_salary.value_counts()[:5]

65    20
80    18
61    18
81    17
63    16
Name: min_salary, dtype: int64

In [414]:
df.max_salary.value_counts()[:5]

140    16
119    15
124    15
110    15
127    13
Name: max_salary, dtype: int64

In [415]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5

In [416]:
#Here We drop unamed Column 
df =  df.drop(['Unnamed: 0'], axis =1)

In [417]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          742 non-null    object
 1   Salary Estimate    742 non-null    object
 2   Job Description    742 non-null    object
 3   Rating             742 non-null    float64
 4   Company Name       742 non-null    object
 5   Location           742 non-null    object
 6   Headquarters       742 non-null    object
 7   Size               742 non-null    object
 8   Founded            742 non-null    int64
 9   Type of ownership  742 non-null    object
 10  Industry           742 non-null    object
 11  Sector             742 non-null    object
 12  Revenue            742 non-null    object
 13  Competitors        742 non-null    object
 14  hourly             742 non-null    int64
 15  employer_provided  742 non-null    int64
 16  min_salary         742 non-null    int64
 17  max_salary         742 non-null    int64
 18  avg_salary         742 non-null    float64
dtypes: float64(2), int64(5), object(12)
memory usage: 115.9+ KB


- Fix Rating Column which has 1- rate for some companies

In [418]:
df.shape

(742, 19)

In [419]:
df.head(2)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5

In [420]:
df['Company Name'].value_counts()[:5]

Reynolds American\r\n3.1                 14
MassMutual\r\n3.6                        14
Takeda Pharmaceuticals\r\n3.7            14
Software Engineering Institute\r\n2.6    11
PNNL\r\n3.8                              10
Name: Company Name, dtype: int64

- Fix Company Name Coulmn

In [421]:
df['Company Name'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-5], axis = 1 )
df['Company Name'].value_counts()[:5]

MassMutual                        14
Takeda Pharmaceuticals            14
Reynolds American                 14
Software Engineering Institute    11
PNNL                              10
Name: Company Name, dtype: int64

- Here we can see the different after cleaning the company name

- Fix extract state from headquarter coulmn

In [422]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1]) # take state

# convert Los Angeles to LA 
df['job_state']= df.job_state.apply(lambda x: x.strip() if x.strip().lower() != 'los angeles' else 'LA')
df.job_state.value_counts()[:5]

CA    151
MA    103
NY     72
VA     41
IL     40
Name: job_state, dtype: int64

In [423]:
#Calculate Age for a company
df['age'] = df.Founded.apply(lambda x: x if x < 1 else 2022 - x)
df.age.value_counts()[:5]

-1     50
 12    32
 14    31
 26    27
 16    24
Name: age, dtype: int64

 After randomly checking the job description column, I extracted some keywords that may help identify skills that are    required.       These skills include

In [388]:
keyword = [
'Power BI',
'Tableau',
'Python',
'MATLAB',
'Microsoft Word',
'PowerPoint',
'Excel',
'PHP',
'MS Access',
'LMS'  ,
'SAS' ,
'SPSS' ,
'R' ,
'HTML',
'CSS',
'Javascript' ,
'Google Analytics' ,
'Omniture' ,
'Adobe Analytics',
'NLP' ,
'deep learning'  ,
'data processing' ,
'reporting' ,
'Ruby',
'Scala',
'Java' ,
'AWS',
'Snowflake' ,
'data warehouse architecture' ,
'data warehouse solutions' ,
'data warehouse',
'Google BigQuery' ,
'ad-hoc data analysis' ,
'HL7' ,
'XML',
'web services' ,
'version control' ,
'git' ,
'Azure DevOp' ,
'Microsoft SQL',
'MySQL' ,
'MongoDB' ,
'NoSQL' ,
'PostgreSQL' ,
'Mongo',
'Redis',
'Object Oriented Languages' ,
'C#',
'.Net' ,
'Dot Net' ,
'Scikit-Learn',
'TensorFlow',
'Keras',
'PySpark ',
'Masters' ,
'Ph.D' ,
'quantitative analytics' ,
'Hadoop',
'Weka' ,
'ILog',
'REST APIs' ,
'clustering',
'decision tree' ,
'artificial neural networks',
'web services backend' ,
'distributed systems'
]

In [389]:
def Extract_Keywords(x):
    for i in x:
        print('Searching For '+ i)
        df[i] = df['Job Description'].apply(lambda x: 1 if i in x.lower() else 0)


Extract_Keywords(keyword)

Searching For Power BI
Searching For Tableau
Searching For Python
Searching For MATLAB
Searching For Microsoft Word
Searching For PowerPoint
Searching For Excel
Searching For PHP
Searching For MS Access
Searching For LMS
Searching For SAS
Searching For SPSS
Searching For R
Searching For HTML
Searching For CSS
Searching For Javascript
Searching For Google Analytics
Searching For Omniture
Searching For Adobe Analytics
Searching For NLP
Searching For deep learning
Searching For data processing
Searching For reporting
Searching For Ruby
Searching For Scala
Searching For Java
Searching For AWS
Searching For Snowflake
Searching For data warehouse architecture
Searching For data warehouse solutions
Searching For data warehouse
Searching For Google BigQuery
Searching For ad-hoc data analysis
Searching For HL7
Searching For XML
Searching For web services
Searching For version control
Searching For git
Searching For Azure DevOp
Searching For Microsoft SQL
Searching For MySQL
Searching For MongoDB
Searching For NoSQL
Searching For PostgreSQL
Searching For Mongo
Searching For Redis
Searching For Object Oriented Languages
Searching For C#
Searching For .Net
Searching For Dot Net
Searching For Scikit-Learn
Searching For TensorFlow
Searching For Keras
Searching For PySpark
Searching For Masters
Searching For Ph.D
Searching For quantitative analytics
Searching For Hadoop
Searching For Weka
Searching For ILog
Searching For REST APIs
Searching For clustering
Searching For decision tree
Searching For artificial neural networks
Searching For web services backend
Searching For distributed systems

In [424]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          742 non-null    object
 1   Salary Estimate    742 non-null    object
 2   Job Description    742 non-null    object
 3   Rating             742 non-null    float64
 4   Company Name       742 non-null    object
 5   Location           742 non-null    object
 6   Headquarters       742 non-null    object
 7   Size               742 non-null    object
 8   Founded            742 non-null    int64
 9   Type of ownership  742 non-null    object
 10  Industry           742 non-null    object
 11  Sector             742 non-null    object
 12  Revenue            742 non-null    object
 13  Competitors        742 non-null    object
 14  hourly             742 non-null    int64
 15  employer_provided  742 non-null    int64
 16  min_salary         742 non-null    int64
 17  max_salary         742 non-null    int64
 18  avg_salary         742 non-null    float64
 19  job_state          742 non-null    object
 20  age                742 non-null    int64
dtypes: float64(2), int64(6), object(13)
memory usage: 127.5+ KB

In [425]:
df.Python.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Python'

In [426]:
df.shape

(742, 21)


#PowerPoint
df['PowerPoint'] = df['Job Description'].apply(lambda x: 1 if 'PowerPoint' in x.lower() else 0)

#MATLAB
df['MATLAB'] = df['Job Description'].apply(lambda x: 1 if 'MATLAB' in x.lower() else 0)

#Tableau
df['Tableau'] = df['Job Description'].apply(lambda x: 1 if 'Tableau' in x.lower() else 0)

#Power BI
df['Power BI'] = df['Job Description'].apply(lambda x: 1 if 'Power BI' in x.lower() else 0)

#python
df['python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

#r studio 
df['r'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

#Machine Learning 
df['ml'] = df['Job Description'].apply(lambda x: 1 if 'Machine Learning' or 'ml'in x.lower() else 0)

#SQL
df['sql'] = df['Job Description'].apply(lambda x: 1 if 'SQL' in x.lower() else 0)

#Data Analysis
df['data_analysis'] = df['Job Description'].apply(lambda x: 1 if 'Data Analytics' or 'ml'in x.lower() else 0)


df.head(2)

In [427]:
#Check if the location for this job in in the headquarter ot not
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [428]:
df['Job Title'].value_counts()[:10]

Data Scientist               131
Data Engineer                 53
Senior Data Scientist         34
Data Analyst                  15
Senior Data Engineer          14
Senior Data Analyst           12
Lead Data Scientist            8
Sr. Data Engineer              6
Marketing Data Analyst         6
Machine Learning Engineer      5
Name: Job Title, dtype: int64

In [429]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'job_state', 'age', 'same_state'],
      dtype='object')

In [430]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'Junior .' in title.lower():
        return 'junior'
    else:
        return 'na'





df['job_title'] = df['Job Title'].apply(title_simplifier)
df['seniority'] = df['Job Title'].apply(seniority)

In [431]:
df.job_title.value_counts()

data scientist    279
na                184
data engineer     119
analyst           102
mle                22
manager            22
director           14
Name: job_title, dtype: int64

In [432]:
df.seniority.value_counts()

na        520
senior    220
junior      2
Name: seniority, dtype: int64

In [433]:
df.to_csv('glassdoor_cleaned.csv',index=False)

In [400]:
df_x = df[keyword]

In [401]:
df_x.describe()

,Power BI,Tableau,Python,MATLAB,Microsoft Word,PowerPoint,Excel,PHP,MS Access,LMS,...,quantitative analytics,Hadoop,Weka,ILog,REST APIs,clustering,decision tree,artificial neural networks,web services backend,distributed systems
count,742.0,742.0,742.0,742.0,742.0,742.0,742.0,742.0,742.0,742.0,...,742.000000,742.0,742.0,742.0,742.0,742.000000,742.000000,742.000000,742.000000,742.000000
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.005391,0.0,0.0,0.0,0.0,0.083558,0.045822,0.006739,0.002695,0.026954
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.073274,0.0,0.0,0.0,0.0,0.276910,0.209240,0.081867,0.051882,0.162059
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.000000,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000,1.000000,1.000000